# Maven
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Node
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Database
data/
*.db
*.h2.db

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
